<div class="recipe-list">

  <div class="title">
    <h2>Recettes disponibles</h2>
  </div>

  <div *ngIf="recipes.length > 0; else noRecipes" class="recipes-grid">
    <div 
      *ngFor="let recipe of recipes" 
      class="recipe-card" 
      [routerLink]="['/recipe', recipe.id]"
    >
      <h3>{{ recipe.title }}</h3>
      <p>Auteur : {{ getUserName(recipe.userId) }}</p>
    </div>
  </div>

  <ng-template #noRecipes>
    <p class="no-recipes">Aucune recette disponible.</p>
  </ng-template>
</div>